In [1]:
import pandas as pd
import numpy as np
import os
from rake_nltk import Rake
from nltk.corpus import stopwords
from string import punctuation
import nltk
import re
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
from scipy import sparse

Imported Dataset of Forkaia Talent

In [2]:
talent_df = pd.read_csv('talentsnapshot.csv').iloc[:, 0:]

In [3]:
talent_df.head()

,Submitted On,Education,What are your main talents What skills are you better at than most people that you would define as your competitive advantage,What do you want to work on What do you want to get out of working with Forkaia,Do you like working alone or as part of a team or it doesnt matter,Are you going to be working remotely,When do you want to start,What Forkaia Platforms are you interested in,Pick Your Startups,Pick Your Teams,Please explain how you can add value to any of the Forkaia Platforms Startups or Creative Lab Projects Please be specific for example I can analyze spatial data for RUN IT BACK and determine if there is a relationship between app usage and population density or for the apps that might not have data sets I can set up algorithms and processes to ensure a clean and useful database,What do you consider your biggest achievements in your life up until now Anything of special recognition List any Awards honors or hackathons youve won,What would your ideal or fantasy job be,What should we know about you that we didnt ask you
0,1,Santa Clara University,"More than technical skills, I would say am goo...",My prior experience was different from what I ...,Doesn't matter.,"If it’s an option, I don't mind working remotely.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"University of California, Riverside","In regards to my talents, I have a strong bac...",I hope to work in the data science field to p...,Working as a team or working by myself are bot...,Commuting to and from work is not an issue sin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"University of California, Berkeley",I have exceptional time management skills. As ...,Though I am relatively new to programming as I...,"Though I believe I am able to handle either, I...","No, I will not be working remotely.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,San Jose State University,I am goo with Back-end development and Machine...,I want to work on any kind of software develop...,"Doesn't Matter, but prefer working on team",I am fine with anything,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"University of California, San Diego",I'm talented at self-control. I would finish m...,I would like to know more people in the workpl...,I would prefer working individually on a small...,"Because I'm still studying in UC San Diego, I ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Change Column Names to make Table more Readable

In [4]:
talent_df.columns = ['Submitted_on','Education_university','Skills','Desired_work','Working_style','Working_remotely','Start','Interested_platforms','Pick_startups','Pick_tasks', 
                                        'Ability_to_add_value','Biggest_achievement','Ideal_job','Additional_info']

In [5]:
talent_df.head()

,Submitted_on,Education_university,Skills,Desired_work,Working_style,Working_remotely,Start,Interested_platforms,Pick_startups,Pick_tasks,Ability_to_add_value,Biggest_achievement,Ideal_job,Additional_info
0,1,Santa Clara University,"More than technical skills, I would say am goo...",My prior experience was different from what I ...,Doesn't matter.,"If it’s an option, I don't mind working remotely.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"University of California, Riverside","In regards to my talents, I have a strong bac...",I hope to work in the data science field to p...,Working as a team or working by myself are bot...,Commuting to and from work is not an issue sin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"University of California, Berkeley",I have exceptional time management skills. As ...,Though I am relatively new to programming as I...,"Though I believe I am able to handle either, I...","No, I will not be working remotely.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,San Jose State University,I am goo with Back-end development and Machine...,I want to work on any kind of software develop...,"Doesn't Matter, but prefer working on team",I am fine with anything,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"University of California, San Diego",I'm talented at self-control. I would finish m...,I would like to know more people in the workpl...,I would prefer working individually on a small...,"Because I'm still studying in UC San Diego, I ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Column Values and Types

In [6]:
talent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3310 entries, 0 to 3309
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Submitted_on          3310 non-null   object
 1   Education_university  3306 non-null   object
 2   Skills                3309 non-null   object
 3   Desired_work          3305 non-null   object
 4   Working_style         3292 non-null   object
 5   Working_remotely      3272 non-null   object
 6   Start                 2740 non-null   object
 7   Interested_platforms  1193 non-null   object
 8   Pick_startups         2487 non-null   object
 9   Pick_tasks            2487 non-null   object
 10  Ability_to_add_value  333 non-null    object
 11  Biggest_achievement   297 non-null    object
 12  Ideal_job             981 non-null    object
 13  Additional_info       1463 non-null   object
dtypes: object(14)
memory usage: 362.2+ KB

Search for Null Values

In [7]:
talent_df.isna()

,Submitted_on,Education_university,Skills,Desired_work,Working_style,Working_remotely,Start,Interested_platforms,Pick_startups,Pick_tasks,Ability_to_add_value,Biggest_achievement,Ideal_job,Additional_info
0,False,False,False,False,False,False,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3305,False,False,False,False,False,True,True,True,True,True,True,True,True,True
3306,False,False,False,False,False,False,True,True,True,True,True,True,True,True
3307,False,False,False,False,False,False,True,True,True,True,True,True,True,True
3308,False,False,False,False,False,False,True,True,True,True,True,True,True,True
3309,False,False,False,False,False,False,True,True,True,True,True,True,True,True

Fill Null Values with some common description

In [8]:
talent_df.fillna('No details present', inplace=True)

In [9]:
talent_df.head()

,Submitted_on,Education_university,Skills,Desired_work,Working_style,Working_remotely,Start,Interested_platforms,Pick_startups,Pick_tasks,Ability_to_add_value,Biggest_achievement,Ideal_job,Additional_info
0,1,Santa Clara University,"More than technical skills, I would say am goo...",My prior experience was different from what I ...,Doesn't matter.,"If it’s an option, I don't mind working remotely.",No details present,No details present,No details present,No details present,No details present,No details present,No details present,No details present
1,2,"University of California, Riverside","In regards to my talents, I have a strong bac...",I hope to work in the data science field to p...,Working as a team or working by myself are bot...,Commuting to and from work is not an issue sin...,No details present,No details present,No details present,No details present,No details present,No details present,No details present,No details present
2,3,"University of California, Berkeley",I have exceptional time management skills. As ...,Though I am relatively new to programming as I...,"Though I believe I am able to handle either, I...","No, I will not be working remotely.",No details present,No details present,No details present,No details present,No details present,No details present,No details present,No details present
3,4,San Jose State University,I am goo with Back-end development and Machine...,I want to work on any kind of software develop...,"Doesn't Matter, but prefer working on team",I am fine with anything,No details present,No details present,No details present,No details present,No details present,No details present,No details present,No details present
4,5,"University of California, San Diego",I'm talented at self-control. I would finish m...,I would like to know more people in the workpl...,I would prefer working individually on a small...,"Because I'm still studying in UC San Diego, I ...",No details present,No details present,No details present,No details present,No details present,No details present,No details present,No details present

In [10]:
talent_df.isna().sum()

Submitted_on            0
Education_university    0
Skills                  0
Desired_work            0
Working_style           0
Working_remotely        0
Start                   0
Interested_platforms    0
Pick_startups           0
Pick_tasks              0
Ability_to_add_value    0
Biggest_achievement     0
Ideal_job               0
Additional_info         0
dtype: int64

Applying lower case to make searching easier

In [11]:
for col in talent_df.columns[1:]:
    talent_df[col] = talent_df[col].astype(str).str.lower()

Combining All Columns into One to Improve Search Time

In [12]:
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')
punctuations = ['.', ',', '[', '/', '?', ';', ':', ')', '(', "'"]

In [13]:
talent_info = talent_df[['Skills', 'Desired_work', 'Ability_to_add_value', 'Biggest_achievement']]

In [14]:
talent_df = talent_df.assign(Combined=talent_info.iloc[:, 0:].apply(lambda x: '. '.join(x), axis=1).iloc[:])

In [15]:
talent_df.head()

,Submitted_on,Education_university,Skills,Desired_work,Working_style,Working_remotely,Start,Interested_platforms,Pick_startups,Pick_tasks,Ability_to_add_value,Biggest_achievement,Ideal_job,Additional_info,Combined
0,1,santa clara university,"more than technical skills, i would say am goo...",my prior experience was different from what i ...,doesn't matter.,"if it’s an option, i don't mind working remotely.",no details present,no details present,no details present,no details present,no details present,no details present,no details present,no details present,"more than technical skills, i would say am goo..."
1,2,"university of california, riverside","in regards to my talents, i have a strong bac...",i hope to work in the data science field to p...,working as a team or working by myself are bot...,commuting to and from work is not an issue sin...,no details present,no details present,no details present,no details present,no details present,no details present,no details present,no details present,"in regards to my talents, i have a strong bac..."
2,3,"university of california, berkeley",i have exceptional time management skills. as ...,though i am relatively new to programming as i...,"though i believe i am able to handle either, i...","no, i will not be working remotely.",no details present,no details present,no details present,no details present,no details present,no details present,no details present,no details present,i have exceptional time management skills. as ...
3,4,san jose state university,i am goo with back-end development and machine...,i want to work on any kind of software develop...,"doesn't matter, but prefer working on team",i am fine with anything,no details present,no details present,no details present,no details present,no details present,no details present,no details present,no details present,i am goo with back-end development and machine...
4,5,"university of california, san diego",i'm talented at self-control. i would finish m...,i would like to know more people in the workpl...,i would prefer working individually on a small...,"because i'm still studying in uc san diego, i ...",no details present,no details present,no details present,no details present,no details present,no details present,no details present,no details present,i'm talented at self-control. i would finish m...

Search for Number of Bachelor Degree Holders

In [16]:
import re
sub_patterns = ['Masters of [A-Z][a-z]* [A-Z][a-z]* [A-Z][a-z]* ',
                        'Bachelors of [A-Z][a-z]* [A-Z][a-z]* [A-Z][a-z]*',
                        'Diploma in  [A-Z][a-z]* [A-Z][a-z]* [A-Z][a-z]*',
                        'B [A-Z][a-z]* [A-Z][a-z]*',
                        'M [A-Z][a-z]* [A-Z][a-z]*'] 
pattern = '({})'.format('|'.join(sub_patterns))
for n in talent_df['Education_university']:
    matches = re.findall(pattern, n)

Search for Number of Masters Degree Holders

In [17]:
sub_patterns = ['master']
masters_students = []
pattern = '({})'.format('|'.join(sub_patterns))
for n in talent_df['Education_university']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        masters_students.append(matches)
print(str(len(masters_students)) + ' Masters Degrees')

803 Masters Degrees

Search for Number of PHD Holders

In [18]:
sub_patterns = ['phd']
phd_students = []
pattern = '({})'.format('|'.join(sub_patterns))
for n in talent_df['Education_university']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        phd_students.append(matches)
print(str(len(phd_students)) + ' PHDs')

19 PHDs

Search for Number of MDs

In [19]:
sub_patterns = ['md']
md_students = []
pattern = '({})'.format('|'.join(sub_patterns))
for n in talent_df['Education_university']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        md_students.append(matches)
print(str(len(md_students)) + ' MDs')

2 MDs

Search for Number of Data Scientists

In [20]:
sub_patterns = ['data science', 'data analysis', 'data analytics']
data_scientists = []
pattern = '({})'.format('|'.join(sub_patterns))
for n in talent_df['Combined']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        data_scientists.append(matches)
print(str(len(data_scientists)) + ' Data Scientists')

1464 Data Scientists

Search for Number of Computer Scientists

In [21]:
sub_patterns = ['computer science']
computer_scientists = []
pattern = '({})'.format('|'.join(sub_patterns))
for n in talent_df['Combined']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        computer_scientists.append(matches)
print(str(len(computer_scientists)) + ' Computer Scientists')

277 Computer Scientists

Search for Number of Software Engineers

In [22]:
sub_patterns = ['software engineering']
software_engineers = []
pattern = '({})'.format('|'.join(sub_patterns))
for n in talent_df['Combined']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        software_engineers.append(matches)
print(str(len(software_engineers)) + ' Software Engineers')

61 Software Engineers

Search for Number of Hackathon Winners

In [23]:
sub_pattern_one = ['prize', 'won', 'honor', 'award']
sub_pattern_two = ['hackathon']
pattern_one = '({})'.format('|'.join(sub_pattern_one))
pattern_two = '({})'.format('|'.join(sub_pattern_two))
hackathon_winners = []
for n in talent_df['Combined']:
    matches_one = re.findall(pattern_one, n)
    matches_two = re.findall(pattern_two, n)
    if len(matches_one) > 0 and len(matches_two) > 0:
        hackathon_winners.append(matches_one)
print(str(len(hackathon_winners)) + ' Hackathon Prize Winners')

11 Hackathon Prize Winners

Search for Number of Scholarships

In [24]:
sub_pattern_two = ['scholar', 'prize', 'award', 'certification', 'honor']
pattern_two = '({})'.format('|'.join(sub_pattern_two))
scholarships = []
scholIndices = []
for n in range(talent_df.shape[0]):
    matches_two = re.findall(pattern_two, talent_df.iloc[n]['Combined'])
    if len(matches_two) > 0:
        scholarships.append(matches_two)
        scholIndices.append(n)
print(str(len(scholarships)) + ' Scholarship Winners')

209 Scholarship Winners

Looking for Keywords to do Searches For

Looking for people to fit with each team

In [25]:
sub_patterns = ['developer', 'app', 'mobile', 'front end', 'back end']
pattern = '({})'.format('|'.join(sub_patterns))
developers = []
for n in talent_df['Skills']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        developers.append(matches)
print(str(len(developers)) + ' Web Developers')

660 Web Developers

In [26]:
sub_patterns = ['design', 'ux', 'ui']
pattern = '({})'.format('|'.join(sub_patterns))
designers = []
for n in talent_df['Skills']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        designers.append(matches)
print(str(len(designers)) + ' Graphic Designers')

1224 Graphic Designers

In [27]:
sub_patterns = ['marketing', 'sales', 'social media']
pattern = '({})'.format('|'.join(sub_patterns))
marketers = []
for n in talent_df['Skills']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        marketers.append(matches)
print(str(len(marketers)) + ' in Marketing')

240 in Marketing

In [28]:
sub_patterns = ['data analysis', 'data science', 'data mining']
pattern = '({})'.format('|'.join(sub_patterns))
data_people = []
for n in talent_df['Combined']:
    matches = re.findall(pattern, n)
    if len(matches) > 0:
        data_people.append(matches)
print(str(len(data_people)) + ' work with data')

1234 work with data

Looking for Key Phrases to Describe Every Person

In [29]:
keyphrases = []
keyScores = []
for i in range(talent_df.shape[0]):
    r = Rake(stopwords=stop, punctuations=punctuations)
    r.extract_keywords_from_text(talent_df.iloc[i]['Combined'])
    keyScores.append(r.get_ranked_phrases_with_scores()[:1])
    keyphrases.append(r.get_ranked_phrases_with_scores()[:1][0][1])

In [30]:
talent_df = talent_df.assign(PhraseScores=pd.Series(keyScores))
talent_df = talent_df.assign(Phrases=pd.Series(keyphrases))

In [31]:
schol_winners = talent_df[['Combined', 'PhraseScores']].iloc[scholIndices][['PhraseScores']]

Some of the Award Recipients

In [32]:
scholIndexDict = {}
for i in range(schol_winners.shape[0]):
    scholIndexDict[schol_winners.index[i]] = schol_winners['PhraseScores'].iloc[i][0][0]
scholIndexDict = {k: v for k, v in sorted(scholIndexDict.items(), key=lambda item: item[1], reverse=True)}
awards = talent_df.iloc[list(scholIndexDict.keys())][['Phrases']]
awards

                                                Phrases
3082  css .. 2019 & 2020 merit scholarship carnegie ...
3081  css .. 2019 & 2020 merit scholarship carnegie ...
3219  northwestern university ), united states naval...
3180  support decision - making .. graduate assistan...
2970  increase user retention .. urop — undergraduat...
...                                                 ...
3253                              graduated high school
3254                              taking graded classes
3276                                  download usage ..
3132                                    complex task ..
3106                                         would like

[209 rows x 1 columns]

In [33]:
ranking_words = ['president', 'scholarship', 'merit', 'award']

In [34]:
highlighted = list()

In [35]:
for word in ranking_words:
    booleans = awards['Phrases'].str.contains(word)
    selected = booleans[booleans].index
    for note in selected:
        highlighted.append(awards.loc[note]['Phrases'])

In [36]:
highlighted = pd.Series(highlighted, name='Awards')
highlighted = highlighted.drop_duplicates()
highlighted.index = list(range(0, highlighted.shape[0]))

In [37]:
highlighted = highlighted.replace(to_replace=r'[^a-zA-Z ]', value='', regex=True)
highlighted = highlighted.replace(to_replace=r'\s+', value=' ', regex=True)
highlighted = pd.DataFrame(highlighted)
highlighted

                                               Awards
0   northwestern university united states naval se...
1   css merit scholarship carnegie mellon universi...
2   css merit scholarship carnegie mellon universi...
3   support decision making graduate assistantship...
4   increase user retention urop undergraduate res...
5   b tests halcog lu data science undergraduate s...
6   app layout obtained outstanding student schola...
7              comprehensive second class scholarship
8      several affecting factors received scholarship
9   data visualization undergraduate national scho...
10         received vice chancellor scholarship award
11                      dolman law group scholarship
12                        future eli shay scholarship
13                         full army rotc scholarship
14                        macaulay honors scholarship
15  largest achievements include national merit co...
16          george washington university merit awards
17  leadership award edward frank kraft award reci...
18                  real life large data sets awarded
19              awarded third place among competitors
20             business team madame sarah abbot award
21              would receive visual art awards given
22               received tech star recognition award
23                            data best student award

In [38]:
parts_of_speech = []

In [39]:
def preprocess(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent

In [40]:
for i in range(highlighted.shape[0]):
    sentence = highlighted['Awards'].iloc[i]
    sent = preprocess(sentence)
    parts_of_speech.append(sent)

In [41]:
pattern = 'NP: {<DT>?<JJ>*<NN>}'

In [42]:
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()

In [43]:
names_all = []

In [44]:
for i in range(highlighted.shape[0]):
    sentence = highlighted['Awards'].iloc[i]
    sent = nlp(sentence)
    names = [(X.text, X.label_) for X in sent.ents]
    names_all.append(names)

In [45]:
names_all

[[('northwestern university', 'ORG'),
  ('united states', 'GPE'),
  ('sea cadet corps', 'ORG')],
 [('carnegie mellon university', 'ORG'),
  ('wuhan university erasmus international mobility', 'ORG')],
 [('carnegie mellon university', 'ORG'),
  ('wuhan university erasmus international mobility', 'ORG')],
 [('georgia state university', 'ORG')],
 [],
 [],
 [('app layout', 'ORG'), ('six', 'CARDINAL')],
 [('second', 'ORDINAL')],
 [],
 [],
 [],
 [('dolman law group', 'ORG')],
 [('eli', 'ORG')],
 [],
 [],
 [],
 [('george washington university', 'ORG')],
 [('award edward frank kraft award', 'PERSON')],
 [],
 [('third', 'ORDINAL')],
 [('sarah', 'PERSON')],
 [],
 [('tech star recognition', 'ORG')],
 []]

In [46]:
keywords = []
for i in range(len(names_all)):
    entities = names_all[i]
    for j in range(len(entities)):
        if entities[j][1] == 'ORG' or entities[j][1] == 'PERSON':
            keywords.append(entities[j][0])

In [47]:
keywords = list(pd.Series(keywords).drop_duplicates())
keywords

['northwestern university',
 'sea cadet corps',
 'carnegie mellon university',
 'wuhan university erasmus international mobility',
 'georgia state university',
 'app layout',
 'dolman law group',
 'eli',
 'george washington university',
 'award edward frank kraft award',
 'sarah',
 'tech star recognition']

In [48]:
final_awards = []

In [49]:
for word in keywords:
    contains_word = highlighted['Awards'].str.contains(word)
    selected = contains_word[contains_word].index
    for note in selected:
        for word in ranking_words:
            if word in highlighted.loc[note]['Awards']:
                final_awards.append(highlighted.loc[note]['Awards'])

In [50]:
final_awards = list(pd.Series(final_awards).drop_duplicates())

In [51]:
showcase = pd.DataFrame(final_awards, columns=['Awards'])
showcase

                                              Awards
0  northwestern university united states naval se...
1  css merit scholarship carnegie mellon universi...
2  support decision making graduate assistantship...
3  app layout obtained outstanding student schola...
4                      dolman law group scholarship
5                        future eli shay scholarship
6          george washington university merit awards
7  leadership award edward frank kraft award reci...
8             business team madame sarah abbot award
9               received tech star recognition award